In [23]:
import pandas as pd

pd.set_option('display.max_rows', 50)

In [2]:
df = pd.read_csv('results.csv', encoding = "ISO-8859-1")

In [ ]:
df.head()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27240 entries, 0 to 27239
Data columns (total 12 columns):
Unnamed: 0      27240 non-null int64
Name            27238 non-null object
Country         27240 non-null object
Div Rank        27240 non-null object
Gender Rank     27240 non-null object
Overall Rank    27240 non-null object
Swim            27240 non-null object
Bike            27240 non-null object
Run             27240 non-null object
Finish          27240 non-null object
Points          27240 non-null object
Date            27240 non-null int64
dtypes: int64(2), object(10)
memory usage: 2.5+ MB

In [4]:
df = df.drop(["Unnamed: 0", 'Points'], axis=1)

In [5]:
df = df.rename(index=str, columns={"Name":"name", "Country":"country", "Div Rank":"div_rank", "Gender Rank":"gender_rank", "Overall Rank":"overall_rank", "Swim":"swim", "Bike":"bike", "Run":"run", "Finish":"finish", "Date":"date"})

In [6]:
df.head()

,name,country,div_rank,gender_rank,overall_rank,swim,bike,run,finish,date
0,"Frodeno, Jan",DEU,1,1,1,00:48:02,04:29:00,02:45:34,08:06:30,20161008
1,"Kienle, Sebastian",DEU,2,2,2,00:52:27,04:23:55,02:49:03,08:10:02,20161008
2,"Lange, Patrick",DEU,3,3,3,00:48:57,04:37:49,02:39:45,08:11:14,20161008
3,"Hoffman, Ben",USA,4,4,4,00:48:55,04:28:06,02:51:45,08:13:00,20161008
4,"Boecherer, Andi",DEU,5,5,5,00:48:10,04:28:07,02:52:05,08:13:25,20161008

In [7]:
df = df.loc[df['date'] > 20131012]

In [ ]:
df.head()

In [12]:
df_finished = df[~df.finish.isin(['DNS','DNF', 'DQ'])]

In [16]:
df_finished.loc[df['gender_rank'] == '---']

Empty DataFrame
Columns: [name, country, div_rank, gender_rank, overall_rank, swim, bike, run, finish, date]
Index: []

In [24]:
df_finished.isnull().sum()

name            2
country         1
div_rank        1
gender_rank     1
overall_rank    1
swim            1
bike            1
run             1
finish          1
date            1
dtype: int64

In [26]:
df_finished = df_finished.dropna(axis=0, how='any')

In [27]:
df_finished['gender_rank'].astype('int')
#df_finished.loc['gender_rank'] = df_finished.gender_rank.astype(float)

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
        ...
6560    1404
6561    1405
6562    1406
6563     558
6564    1407
6565    1408
6566    1409
6567     559
6568     560
6569    1410
6570    1411
6571     561
6572     562
6573    1412
6574    1413
6575    1414
6576    1415
6577     563
6578    1416
6579    1417
6580    1418
6581    1419
6582     564
6583    1420
6584    1421
Name: gender_rank, Length: 6334, dtype: int32

In [ ]:
df.loc[df['gender_rank'] == 1]